<!-- NAVBAR -->
<%= render "shared/navbar" %>
<!-- MAIN CONTENT -->
<div class="container my-3">
  <div class="row">
    <div class="col-12">
      <h1 class="font-weight-bold">My Bookings</h1>
    <span>You have <%= @bookings.count %> Bookings</span><br><br>
  <% @bookings.each do |booking| %>
      <div class="card mb-3" style="height: 500px;">
    <% if booking.airplane.photos.attached? %>
      <%= cl_image_tag booking.airplane.photos.first.key, alt: "...", class:"card-img-top h-50", style:"object-fit: cover"%>
    <% else %>
      <img src="https://images.unsplash.com/photo-1474302770737-173ee21bab63?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1982&q=80" alt="" class="card-img-top h-50" style="object-fit: cover">
    <% end %>
    <div class="card-body p-5">
      <h3 class="card-title"><%= booking.airplane.model %></h3>
      <div class="d-flex flex-row justify-content-between">
        <div>
          <span class="badge badge-primary">Start time</span><span> <%= booking.start_time %></span><br>
          <span class="badge badge-danger">End time</span><span> <%= booking.end_time %></span>
          <br>
          <br>
          <p class="card-text"><small class="text-muted">Last updated on <%= booking.updated_at %></small></p>
        </div>
        <div class="">
          <%= link_to 'Update', edit_booking_path(booking), class: "btn btn-outline-primary my-2 btn-sm" %>
          <%= link_to 'Delete', booking_path(booking), method: :delete, data: { confirm: "Are you sure you wanna delete this booking"}, class: "btn btn-outline-danger btn-sm my-2" %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
    </div>
</div>


</div>

